*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", serif;
    
}
header{
    height: 100vh;
}
nav{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;
    z-index: 5;
    position: relative;
    background-color: white;
    button{
        display: none;
        background: none;
        border: none;
        .icon{
            font-size: 20px;
            color: #000000;
        }
    }

    img{
        .logo{
            width: 168px;
        }
    }
    ul{
        display: flex;
        list-style: none;
        gap: 26px;
        align-items: center;
        font-weight: 600;
        a{
            text-decoration: none;
        }
        li{
            cursor: pointer;
            color: black;
           
           select{
            border: none;
           }
          
        }
        li.home{
            min-width: 74px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
                background-color: #F5F5F5;
                color: #FF782D;
               
        }
         li:hover{ 
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 74px;
            height: 72px;
            background-color: #F5F5F5;
            color: #FF782D;
            select{
                background-color: #F5F5F5;
            }
        }
    }
.login{
    display: flex;
    align-items:center;
    gap: 20px;
    img{
        width: 48px;
        cursor: pointer;
    }
    a{
        line-height: 27px;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        color: #000000;
    }
}

}

.hero{
   
   
    .herobg{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right:0;
    }
   
    .herobg2{
        width: 800px;
        height: 380px;
        opacity: 98%;
        position: absolute;
        left: 37%;
        bottom: 10%;
        z-index: 2;
 
    }
    .herobg3{
        width: 402px;
        height: 540px;
        position: absolute;
        bottom: 0;
        left: 59%;
        z-index: 3;
    }
    .content{
        position: absolute;
        z-index: 3;
        top: 35%;
        max-width: 550px;
        max-height: 320px;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        
        h1{
         
            font-weight: 600;
            font-size: 48px;
            line-height: 57px;
            padding-bottom: 24px;
           
            
        }
        .description{
           
           font-weight: 400;
           font-size: 18px;
           line-height: 27px;
           color: #555555;
           font-family: "Jost", serif;
           
          
        }
        .comment{
            width: 170px;
            min-height: 48px;
            background-color: #FF782D;
            color: #FFFFFF;
            border: none;
            border-radius: 24px;
            margin-top: 20px;
            cursor: pointer;
           
            
    }
}}

#categ{
    display: flex;
    max-width: 100%;
    padding:0 70px;
    
    .categories{
        width: 100%;
        padding-top: 50px;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
        .topcatg{
            display: flex;
            flex-direction: column;
            gap: 12px;
        h2{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            font-family: "Jost", serif;
            color: #555555;
        }}
        
    
    
    .butt{
      
        button{
        width: 161px;
        height: 48px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        font-family: "Jost", serif;
        border-radius: 24px;
        border: 2px solid grey;
        background-color: white;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
        
    }
    .cards{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 66px ;
        gap: 32px;
        .card2{
            width: 250px;
            height: 234px;
            border: 1px solid #EAEAEA ;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 16px;
            .content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                
                h2{
                    font-size:20px ;
                    font-weight:600 ;
                    line-height:24px ;
                    color: #FF782D;
                }
                p{
                    font-size:18px ;
                    font-weight:400 ;
                    line-height:27px ;
                    font-family: "Jost", serif;
                    color: #555555;
                }

            }
        }
        .card{
            width: 250px;
            height: 234px;
            border: 1px solid #EAEAEA ;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                
                h2{
                    font-size:20px ;
                    font-weight:600 ;
                    line-height:24px ;
                }
                p{
                    font-size:18px ;
                    font-weight:400 ;
                    line-height:27px ;
                    font-family: "Jost", serif;
                    color: #555555;
                }

            }

        }

    }}
}

#featuredcourses{
    display: flex;
    width: 100%;
    padding: 50px 70px;
    .featuredc{
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      
            .fc{
                display: flex;
                flex-direction: column;
                gap: 12px;
                h2{
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 40px;

                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    font-family: "Jost", serif;
                    color: #555555;
                }
            }
            button{
                
                    width: 140px;
                    height: 48px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    font-family: "Jost", serif;
                    border-radius: 24px;
                    border: 2px solid grey;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    
                
            }
        
   .cards{
    display: flex;
    max-width:100% ;
    gap: 35px;
    margin-top:50px ;
    
    .card{
        width:385px;
        border: 1px solid #EAEAEA ;
        border-radius: 20px;
        .img{
            width:100%;
          }
       
        .content{
           display: flex;
           justify-content: center;
           flex-direction: column;
           padding: 10px 20px;
           gap: 10px;
          
            .icons{
               display: flex;
              border-bottom: 1px solid #EAEAEA;
              padding-bottom: 20px;
              gap: 8px
            }
            h2{
                font-size:20px ;
                font-weight:600 ;
                line-height:24px ;
               
            }
            del{
                
                font-weight:500 ;
                line-height:27px ;
                font-family: "Jost", serif;
                color: #555555;
                
            }
            span{
                color: #55BE24;
            }
            .price{
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
               a{
                   text-decoration: none;
                   color: #000000;
                    font-family: jost;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                }
               
            }
        }
    }
   }
    }
}
#learnpress{
   
    padding:0 70px;
    height: 324px;
   
    .learnp{
        position: relative;
        z-index: 1;
        img{
            border-radius: 20px;
        }
        .content{
            position: absolute;
            z-index: 3;
            top: 20%;
            width: 450px;
            height: 242px;
            padding-left: 70px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            h5{
              font-weight: 600;
              color: #555555;
              line-height: 19px;
            }
            h2{
                font-weight: 600;
                font-size: 32px;
                line-height: 38px;
              
            }
        
             p{
                color: #555555;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                font-family: jost;
            }
            button{
                width: 177px;
                height: 48px;
                background-color: #FF782D;
                border: none;
                border-radius: 24px;
                color: white;
                font-weight: 500;
                font-family: jost;
                font-size: 18px;
                list-style: 27px;
            }
        }
    }
}
#activities{
    display: flex;
    width: 100%;
    padding: 70px 70px;
    .cards{
        gap: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card{
            display: flex;
            border-radius: 20px;
            background-color: #F5F5F5;
            width: 284px;
            height: 161px;
            align-items: center;
            justify-content: center;
          
          .content{
            display: flex;
            flex-direction: column;
            gap: 16px;
           h2{
            color: #FF782D;
            font-size: 32px;
            font-weight: 600;
            line-height: 38px;
           }
           p{
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            font-family: jost;
           }
         
          }
        }
    }
}
#growus{
    width: 100%;
    padding: 0 70px;
    .grow{
        display: flex;
       
        .content{
            display: flex;
            flex-direction: column;
            min-width: 320px;
            min-height: 424px;
            padding:42.5px 44px 42.5px 125px;
            gap: 24px;
            h2{
                font-size: 32px;
                font-weight:600 ;
                
            }
            p{
                font-size: 18px;
                font-weight:500 ;
                font-family: jost;
                color: #555555;
              
                
            }
            .certification{
                font-size: 18px;
                font-weight:400 ;
                font-family: jost;
               
            }
         
            ul{
            list-style: none;
            font-size: 18px;
            font-weight:400;
            display: flex;
            flex-direction: column;
            font-family: jost;
            gap: 12px;
            }
        
          
            .button{
                padding-top: 20px;
                button{
                color: white;
                background-color: #FF782D;
                border: none;
                border-radius: 24px;
                width: 177px;
                height: 48px;
                font-size: 18px;
                font-weight:500 ;
                line-height: 27px;
                font-family: jost;
            }
            }
        }
    }
}
#letsstart{
    width: 100%;
    height: 250px;
    padding: 0 70px;
    margin-top: 70px;
   .start{
    background-image: url(../assets/img/group.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
   
    .content{
        width: 100%;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content1{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
            .img{
                width: 120px;
                height: 120px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h4{
                font-size: 20px;
                font-weight:600;
            }
        }
        .content2{
            display: flex;
            gap: 20px;

            .b1{
                width: 156px;
                height: 48px;
                background-color: #DFD7FD;
                border-radius: 24px;
                color: #FF782D;
                border: 2px solid #FF782D;
                font-family: jost;
            }
            .b2{
                width: 219px;
                height: 48px;
                background-color: #FF782D;
                border-radius: 24px;
                font-family: jost;
                color: white;
                border: 2px solid #FF782D;
            }
        }
    }
   }
}
footer{
    width: 100%;
  
    padding-top: 70px;
    .ending{
       
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        .content{
          display: flex;
         padding: 50px 70px 77px;
          justify-content: center;
          gap: 90px;
          .edupress{
           
            display: flex;
            flex-direction: column;
            gap: 32px;
            img{
                width: 199px;
                height: 30px;
            }
            p{
                max-width: 341px;
                font-size: 18px;
                font-weight:400 ;
                line-height: 27px;
                font-family: jost;
                color: #555555;
            }
          }
          .gethelp{
            display: flex;
            flex-direction: column;
            gap: 32px;
           
           
            ul{
                list-style: none;
                font-size: 18px;
                font-weight:500;
                line-height: 45px;
                font-family: jost;
                color: #555555;
               li{
                cursor: pointer;
                color: #555555;
               }
               li:hover{
                color: #FF782D;
               }
               a{
                text-decoration: none;
            }
            }
          }
          .programs{
            display: flex;
            flex-direction: column;
            gap: 32px;
           
           
            ul{
                list-style: none;
                font-size: 18px;
                font-weight:500;
                line-height: 45px;
                color: #555555;
                font-family: jost;
                span{
                    color: #FF782D;
                }
            }
          }
          .contactus{
            width: 320px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            p{
               
                color: #555555;
                font-size: 18px;
                font-weight:400 ;
                line-height: 27px;
                font-family: jost;
            }
            .icons{
                display: flex;
                gap: 12px;
            }
          }
        }
        .copyright{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;
            color: #555555;
            font-size: 18px;
            font-weight:400 ;
            line-height: 27px;
            font-family: jost;
            
        }
    }
}



    @media screen and (max-width:992px) {
    
        nav {
            padding: 0 20px;
            height: auto;
            ul{
                display: none;
            }
            .login{
                display: none;
            }
            button{
                display: block;
                
            }
        }
        .hero {
          .herobg2, .herobg3{
            display: none;
          }
         .content {
            top: 25%;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding:0 20px;
    
        }}
        #categ{
            padding: 0 20px;
            .categories{
            .topcatg{
                align-items: center;
                text-align: center;
               padding: 0 70px ;
            }
            .butt{
                position: relative;
                top:95%;
               padding-left: 28%;
            }
            .cards{
               padding: 0 20px;
            }
        }
        }
       #featuredcourses{
        .featuredc{
           padding-top: 70px;
           .fc{
            text-align: center;
           }
           .butt{
            position: relative;
            top: 93%;
            padding-left: 20%;
           }
            .cards{
                flex-wrap: wrap;
                .card{
                    width: 318px;
                    height: 430px;
                }
            }
        }
       }
       #learnpress{
        padding: 30px 0;
        .learnp{
            img{
                border-radius: 0;
                padding-top: 20px;
            }
            .content{
            top: 15%;
            align-items: center;
            text-align: center;
            margin-left: -80px;
            }
        }
       }
       #activities{
        padding:70px 0;
        .cards{
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
       }
       #growus{
       padding: 0 20px;
        height: auto;
        .grow{
            height: auto;
            flex-wrap: wrap;
        
            .img{
                img{
                width: 303px;
               }
            }
            .content{
             padding: 24px 0;
             gap: 16px;
             .button{
                padding-top:0 ;
             }
            }
        }
       }
       #letsstart {
        height: auto;
        padding:50px 0 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        
        .start{
            border-radius: 0;
            .content{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .content1{
                    flex-direction: column;
                   
                }
                .content2{
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }
    footer{
      
        .ending{
            gap: 38px;
            .content{
            flex-wrap: wrap;
            flex-direction: column;
            align-items: start;
            padding: 70px 20px 0;
            gap: 30px;
            }
            .copyright{
                text-align: center;
            }
        }


    }

}



    

   
