*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", serif;
    
}
header{
    height: 100vh;
}
@media screen and (max-width:992px) {
nav{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 46px 20px;
    align-items: center;
    z-index: 5;
    position: relative;
    background-color: white;
   
    img{
        .logo{
            width: 168px;
        }
    }
    button{
        background: none;
        border: none;
        .icon{
            font-size: 20px;
            color: #000000;
        }
    }


}

.ul{
    ul{
        display: flex;
        list-style: none;
        flex-direction: column;
        font-weight: 600;
        a{
            text-decoration: none;
            
        }
        li{
            cursor: pointer;
            color: black;
            height: 67px;
            padding-left: 20px;
            padding-top: 20px;
            border: 1px solid #F5F5F5;
           select{
            border: none;
           }
           
        }
        li.home{
           width: 100%;
            height: 67px;
            display: flex;
            background-color: #F5F5F5;
            color: #FF782D;
               
        }
         li:hover{ 
            display: flex;
           width: 100%;
            height: 67px;
            background-color: #F5F5F5;
            flex-direction: column;
            color: #FF782D;
            select{
                background-color: #F5F5F5;
            }
        }
    }
}
.search{
    display: flex;
    gap: 20px;
    padding: 24px;
     .input{
        
      border-bottom:1px solid #000000;
 
 input{
     width: 270px;
     height: 31px;
     border-style: none;
    
 }

}
}
}